/* /<-->\  Getting Started  /<-->\ */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    margin: 0;

    background-color: #fff;
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
    min-width: 970px;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 ,h6 {
    margin: 0;
}

p {
    margin: 0 0 10px 0;
}

li {
    font-size: 25px;
    line-height: 1.3;
}

/* -Container- */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 100;
    padding: 0 15px;
    min-width: 1200px;
}

.container-block3 {
    display: flex;
    justify-content: space-between;
}


/* -Media- */

@media (min-width: 1200) {
    .block1_bg:after {
        max-height: 685px;
    }
    
}


/* -Keyframes- */

@keyframes slide_up{

    0%{
        transform: translateY(80vh);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slider {

    0%{
        transform: translateX(0);
    }

    50%{
        transform: translateX(-1100px);
    }

    100%{
        transform: translateX(0);
    }

}

/* -Header- */
   
.header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;

    padding: 10px 20px 10px 20px;
    position: relative;
}
   
.header_inner {
    display: flex;
    justify-content: space-between;
    text-decoration: none;

    z-index: 100;
}

/* -Block1_Nav- */

.nav {
    display: flex;

    font-size: 20px;
    font-weight: 700;

    z-index: 100;
}

.nav_text {
    display: flex;
    align-items: center;

    padding-left: 20px;
    width: 100%;
    color: #fff;

    text-decoration: none;
    text-transform: capitalize;
    text-shadow: 1px -1px 0 #00f2ff6f;

    opacity: 0.9;
}

.nav_text:nth-child(1) {
    padding-left: 0;
}

.nav_text:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: transform .2s ease;
}

/* Logo */

.logo {
    display: flex;
    z-index: 100;

    cursor: pointer;
}

.logo:hover {
    transform: scale(1.1);
}

.logo_title {
    color: #fff;
    font-size: 35px;
    font-weight: 700;

    text-shadow: 1px -1px 0 #00f2ff;
}

.logo_img {
    display: flex;
    justify-content: center;

    margin: 0 5px 0 5px;
    height: 41px;
}

/* -Intro- */

.intro {
    position: relative;
    z-index: 100;
    width: 100%;
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.intro_text {
    font-size: 65px;
    text-align: center;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    mix-blend-mode: overlay;
    color: #fff;

    animation: slide_up 1.5s ease;
    text-shadow: 2px -2px 0 #00f2ff;
}

/* -Button- */

.btn {
    cursor: pointer;

    color: #fff;
    background-color: #ff1b1b;
    font-family: 'Raleway', sans-serif;

    border: 9px #ff5f5f solid;
    padding: 9px 8px;
    margin-top: 30px;

    font-size: 35px;
    font-weight: 600;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.btn:hover {
    background-color: #ff5f5f;
    border: 9px #ff1b1b solid;
    transform: scale(1.05);
}

.block2-btn {
    margin-top: 70px;
    align-self: flex-start;
    font-size: 30px;
    padding: 20px 15px;

    background-color: #162F47;
    border: 0;
    border-radius: 200px;
}

.block2-btn:hover {
    background-color: #294661;
    border: 0;
    transform: scale(1.05);
}

.intro-btn {
    animation: slide_up 3s ease;
}

.abuse_left_btn {
    cursor: pointer;
    align-self: flex-start;
    font-size: 30px;
    padding: 15px 15px;
    margin-left: 100px;
    margin-top: 30px;

    background-color: #30115a;
    color: #fff;
    font-weight: 600;
    border: 0;

    border-radius: 200px;
}

.abuse_left_btn:hover {
    border: 0;
    background-color: #3f2267;
    color: #fff;
}

/* -Block1_bg- */

.block1_media {
    position: absolute;
    z-index: 11;

    top: 0;
    left: 0;
    
    width: 100%;
    min-width: 1200px;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
}

.video_darken {
    width: 100%;
    min-width: 1200px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    z-index: 12;
}

/* -Block2- */

.block2 {
    position: relative;

    width: 100%;
    height: 95vh;
    margin-top: 13vh;
}

.block2_inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.block2_section_upper {
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.block2_section_upper_left {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: 100%;
}

.block2_section_upper_bg1 {
    border: 1px #EFEFEF solid;
    background: #EFEFEF;
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
    width: 55%;
    min-width: 650px;
    
    height: 500px;
    margin-top: 30px;
    position: absolute;
    z-index: -10;
}

.block2_section_upper_left_title {
    font-size: 50px;
    color: #000;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px -2px 0 #00f2ff6f;
    
}

.block2_section_upper_left_text {
    border-top: 2px #170B26 solid;
    padding-top: 40px;
    margin-top: 30px;
    font-size: 30px;
    font-weight: 300;
    color: #000;
    text-shadow: 1px -1px 0 #00f2ff6f;
}

.block2_section_upper_bg2 {
    padding-left: 100px;
    width: 600px;
    z-index: -102;
}

.advantage_slider {
    min-width: 1200px;
    padding: 1rem;
	display: grid;
	grid-template-columns: repeat(6, 480px);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	overflow: hidden;
	height: 320px;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;

}

.advantage_content {
    animation: slider 20s infinite linear;
    background-color: #fff;
	scroll-snap-align: center;
	display: inline-block;
	border-radius: 3px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.15), -5px -5px 10px 0px rgba(0, 0, 0, 0.15);
}

.advantage_slider_active {
	scroll-snap-type: unset;
}

.advantage_slider_title {
    display: flex;
    justify-content: center;

    padding-top: 20px;
    font-size: 30px;
    color: #000;
    font-weight: bold;
    text-shadow: none;

    text-shadow: 2px -2px 0 #00f2ff6f;
}

.advantage_slider_text {
    display: flex;
    justify-content: center;

    padding: 20px 20px;
    font-size: 25px;
    color: #333;
    font-weight: normal;
    text-shadow: none;

    text-shadow: 1px -1px 0 #00f2ff6f;
}

.advantage_content:nth-child(1):hover {
    background: linear-gradient(45deg, rgb(155, 154, 207), rgb(82, 94, 182));
}

.advantage_content:nth-child(2):hover {
    background: linear-gradient(45deg, rgb(152, 207, 195), rgb(86, 181, 184));
}

.advantage_content:nth-child(3):hover {
    background: linear-gradient(45deg, rgb(154, 207, 156), rgb(82, 182, 85));
}

.advantage_content:nth-child(4):hover {
    background: linear-gradient(45deg, rgb(204, 207, 154), rgb(181, 182, 82));
}

.advantage_content:nth-child(5):hover {
    background: linear-gradient(45deg, rgb(204, 154, 207), rgb(82, 178, 182));
}

.advantage_content:nth-child(6):hover {
    background: linear-gradient(45deg, rgb(155, 154, 207), rgb(82, 94, 182));
}

/* -Block3- */

.block3 {
    position: relative;
    z-index: 100;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}

.statistics {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.statistics_left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 0 80px;
}

.statistics_right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 80px 0 0;
}

.statistics_number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: #170B26;
    text-shadow: 2px -2px 0 #ff00006f;
}

.statistics_text {
    margin-top: 10px;
    font-size: 30px;
    text-shadow: 1px -1px 0 #00f2ff6f;
}

.statistics_bg {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: -10;
    width: 1170px;
    height: 170px;

    border: 2px #EDEDED solid;
    background-color: #EDEDED;
    border-radius: 35px;
}

.statistics_icon {
    margin-right: 10px;
}

.abuse {
    width: 100%;
    height: 370px;
    display: flex;
    justify-content: space-between;
}

.abuse_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 100%;
    height: 360px;
    z-index: -10;

    background-color: #170B26;
}

.container-block3 {
    display: flex;
    justify-content: space-between;
}

.abuse_right_img {
    padding-left: 10px;
}

.abuse_left_title {
    color: #fff;
    font-size: 40px;
    font-weight: 700;

    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 2px #fff solid;
    text-shadow: 2px -2px 0 #00f2ffb8;
}

.abuse_left_text {
    font-size: 25px;
    font-weight: 300;
    color: #fff;
}

.block3_section_lower {
    width: 100%;
    height: 600px;
    overflow-y: scroll;
    margin-top: 10px;
    margin-bottom: 30px;

    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2) inset;
    padding: 10px;
}

.block3_section_lower_title {
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-shadow: 2px -2px 0 #00f2ff6f;
}

.block3_section_lower_content {
    height: 170px;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 15px;
}

.block3_section_lower_content:nth-child(1) {
    margin-top: 10px;
}

.block3_section_lower_content:nth-last-child() {
    margin-bottom: 0px;
}

.block3_section_lower_nickname {
    display: flex;
    justify-content: space-between;
}

.block3_section_lower_nickname_left {
    display: flex;
    justify-content: space-between;
}

.block3_section_lower_left_name {
    display: flex;
    flex-direction: column;
}

.block3_section_lower_name{
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px -1px 0 #00f2ff6f;
}

.block3_section_lower_ava {
    width: 55px;
    height: 55px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.block3_section_lower_star {
    height: 18px;
    width: 105px;
}

.block3_section_lower_data {
    font-size: 20px;
    color: #696969;
}

.block3_section_lower_text {
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
    line-height: 0.95;
}

/* -Footer- */

.footer {
    width: 100%;
    min-width: 1200px;
    height: 300px;
    background: url(./img/footer_bg.png);
    color: #fff;

    padding-top: 40px;
}

.footer_inner {
    display: flex;
    justify-content: space-between;
}

.footer_middle_title {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px -2px 0 #00f2ffbb;
}

.footer_right_title {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px -2px 0 #00f2ff6f;
}

.footer_middle_links {
    list-style-type: none;
    text-decoration: none;
    line-height: 1.6;
    padding: 0;
}

.footer_middle_link {
    display: flex;
    color: #fff;
    text-decoration: none;
    opacity: .9;
    font-size: 20px;
    font-weight: medium;
    scale: 1;
}

.footer_middle_link:hover {
    opacity: 1;
    transform: scale(1.05);
    transition: transform .2s ease;
}

.footer_right_social {
    padding: 10px 0 10px 0;
}

.footer_right_img {
    margin-left: 10px;
}

.footer_right_img:hover {
    transform: scale(1.1);
}

.footer_right_img1 {
    margin-left: 0;
}

.footer_right_email {
    opacity: 0.8;
}

/* /<-->\  END  /<-->\ */